body{ color: #03110d; background-color: #e72b1d}

p{color: #0f1811}

a{color: #cfa636}

h1{color: #0671eb}

nav a{color: #37c524; background-color: #b81cdf; padding: 10px; margin-bottom: 30px}

nav a:hover {background-color: #5843ce;}