body{ color: #03110d; background-color: #ce0e00}

p{color: #0f1811}

a{color: #2e2407}

h1{color: #eef0f3}

nav a{color: #151d14; background-color: #fdfdfd; padding: 10px; margin-bottom: 30px}

nav a:hover {background-color: #df7229;}