body{ color: #101213; background-color: #e63c3c}

p{color: #0d0f11}

nav a{color: #0e0c0c
}

h1{color: #1a1a1a
}

nav{color: #ff0000; background-color: #1170ff; padding: 5px; margin-bottom: 30px}

nav a:hover {background-color: #1a1916;}

.row1{background-color: rgb(231, 231, 231); display:flex; margin: 10px; padding: 20px;}

.row2{background-color: rgb(245, 245, 245); display:flex; margin: 10px}

.address{display:flex; margin: 10px}

.social{display:flex; margin: 10px}

.form{display:flex; margin: 10px}

.map{display:flex; margin: 10px}